<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=[Pixeles del mínimo ancho para visualizar bien la web]" />
    <title>Quiz</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div class="grid">
        <div id="quiz">
            <h1>Conversaciones seductivas</h1>
            <p style="text-align: left;">Mejorarás tus conversaciones.<br/>
            Lograrás seducir con facilidad<br/>
            Encuentra la secuencia correcta de respuestas y obten 5 puntos. </p>
            
            <p style="text-align:left;">Énvianos tu conversación seductiva</p>
            <p style="text-align:left;">Preguntas</p>
            <p style="text-align:left;">Respuestas separadas por '/'. Respuesta1/respuesta2/respuesta3</p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfiXKolGuUzu8gycIXye0FSgfh9gy3D74Dm4FVwYStgklJQIg/viewform">Enviar</a>
            <center>

<script src="quiz.js"></script>
<script src="question.js"></script>
<script src="app.js"></script>
</body>
</html>
