<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=[Pixeles del mínimo ancho para visualizar bien la web]" />
    <title>Quiz María</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="gridq">
        <div id="quiz">
            <h1>Conversando con Martha</h1>
            <center>
                <img src="img/menu03.jpg" width="40%" height="40%">
            </center>
            <h1>Escenario sala de espera hospital y niño jugando frente a ella.</h1>
            <hr style="margin-bottom: 20px">

            <p id="question"></p>
            <hr style="margin-bottom: 20px">
            <center>
            <div class="buttons">
                <button id="btn0"><span id="choice0"></span></button>
                <button id="btn1"><span id="choice1"></span></button>
                <button id="btn2"><span id="choice2"></span></button>
            </div>
            </center>
            <hr style="margin-top: 50px">
            <footer>
                <p id="progress">Pregunta x de y</p>
            </footer>
        </div>
    </div>
    <br>
    


<script src="quiz.js"></script>
<script src="question.js"></script>
<script src="app0.js"></script>
</body>
</html>
